// --------------------------------------------------
// Layout default
// --------------------------------------------------

//
// Basic page layout
// --------------------------------------------------

html, body {
  width: 100%;
  overflow-x: hidden;
}

.site-header {
  background-color: $white;
  position: relative;
  z-index: 2;
  width: 100%;

  @include breakpoint(large) {
    position: fixed;
  }
}

// #main wraps everything except the header
#main {
  z-index: 1;
  position: relative;

  @include breakpoint(large) {
    padding-top: 80px
  //   height: calc(100vh - 97px);
  }
}
